en-US {
  Placeholder "Label missing"

  MboxTitleMigrateWarning "Migrate version"
  MboxMessageMigrateWarning "Significant internal changes have been made to Powdermilk Biscuits since you last opened this file. Although it has not been marked as significantly incompatible with the current version, you may still experience data loss by attempting to upgrade this file to the most recent version.

No changes will be made to the file as is, and you will be prompted to save the file in a new location instead of overwriting it.

Proceed?"
  MboxTitleError "Error"
  MboxMessageOutOfMemory "Out of memory"
  MboxMessageCouldNotOpenConfigFile "Couldn't read config file"
  MboxMessageCouldNotOpenFile "Could not open file"
  MboxMessageCouldNotSaveFile "Could not save file"
  MboxMessageAskToSaveBeforeOpening "Would you like to save before opening another file?"
  MboxMessageAskToSaveBeforeClosing "Would you like to save before exiting?"
  MboxTitleOpen "Open file"
  MboxTitleUnsavedChanges "Unsaved changes"
  MboxTitleSaveUnnamedFile "Save unnamed file"

  WindowTitleNoFile "hi! <3"
  WindowTitleModifiedSign "modified"
  RealHotItem "Real Hot Item"
  MenuLabelEdit "Edit"
  MenuItemEditUndo "Undo"
  MenuItemEditRedo "Redo"
  MenuLabelFile "File"
  MenuItemFileNew "New"
  MenuItemFileOpen "Open..."
  MenuItemFileSave "Save"
  MenuItemFileSaveUnnamed "Save..."
  MenuItemFileSettings "Settings..."
  MenuItemFileQuitUnmodified "Quit"
  MenuItemFileQuitModified "Quit..."

  RadioLabelToolPen "Pen"
  RadioLabelToolPan "Pan"
  RadioLabelToolEraser "Eraser"
  SliderLabelZoom "Zoom"
  SliderLabelBrushSize "Brush size"
  ColorPickerLabelStrokeColor "Stroke color"

  WindowTitleConfig "Powdermilk Biscuits Settings"
  ConfigLabelUseMouseForPen "Use mouse for pen"
  ConfigLabelToolForGesture1 "Tool for one-finger touch"
  ConfigLabelToolForGesture2 "Two-finger touch"
  ConfigLabelToolForGesture3 "Three-finger touch"
  ConfigLabelToolForGesture4 "Four-finger touch"
  ConfigLabelDarkMode "Dark mode"
  ConfigLabelStylusMayBeInverted "Stylus may be inverted"
  ConfigLabelPrimaryMouseButton "Primary mouse button for drawing"
  ConfigLabelPenPanButton "Button held on pen to pan screen"
  ConfigOptionButtonLeftMouse "Left Mouse"
  ConfigOptionButtonRightMouse "Right Mouse"
  ConfigOptionButtonMiddleMouse "Middle Mouse"
  ConfigLabelStartMaximized "Start PMB maximized"

  ConfigLabelBackgroundColor "Background color"
}

es {
  Placeholder "(es) Label missing"

  MboxTitleMigrateWarning "(es) Migrate version"
  MboxMessageMigrateWarning "Significant internal changes have been made to Powdermilk Biscuits since you last opened this file. Although it has not been marked as significantly incompatible with the current version, you may still experience data loss by attempting to upgrade this file to the most recent version.

No changes will be made to the file as is, and you will be prompted to save the file in a new location instead of overwriting it.

Proceed?"
  MboxTitleError "(es) Error"
  MboxMessageOutOfMemory "(es) Out of memory"
  MboxMessageCouldNotOpenConfigFile "(es) Couldn't read config file"
  MboxMessageCouldNotOpenFile "(es) Could not open file"
  MboxMessageCouldNotSaveFile "(es) Could not save file"
  MboxMessageAskToSaveBeforeOpening "(es) Would you like to save before opening another file?"
  MboxMessageAskToSaveBeforeClosing "(es) Would you like to save before exiting?"
  MboxTitleOpen "(es) Open file"
  MboxTitleUnsavedChanges "(es) Unsaved changes"
  MboxTitleSaveUnnamedFile "(es) Save unnamed file"

  WindowTitleNoFile "(es) hi! <3"
  WindowTitleModifiedSign "(es) modified"
  RealHotItem "(es) Real Hot Item"
  MenuLabelEdit "(es) Edit"
  MenuItemEditUndo "(es) Undo"
  MenuItemEditRedo "(es) Redo"
  MenuLabelFile "(es) File"
  MenuItemFileNew "(es) New"
  MenuItemFileOpen "(es) Open..."
  MenuItemFileSave "(es) Save"
  MenuItemFileSaveUnnamed "(es) Save..."
  MenuItemFileSettings "(es) Settings..."
  MenuItemFileQuitUnmodified "(es) Quit"
  MenuItemFileQuitModified "(es) Quit..."

  RadioLabelToolPen "(es) Pen"
  RadioLabelToolPan "(es) Pan"
  RadioLabelToolEraser "(es) Eraser"
  SliderLabelZoom "(es) Zoom"
  SliderLabelBrushSize "(es) Brush size"
  ColorPickerLabelStrokeColor "(es) Stroke color"

  WindowTitleConfig "(es) Powdermilk Biscuits Settings"
  ConfigLabelUseMouseForPen "(es) Use mouse for pen"
  ConfigLabelToolForGesture1 "(es) Tool for one-finger touch"
  ConfigLabelToolForGesture2 "(es) Two-finger touch"
  ConfigLabelToolForGesture3 "(es) Three-finger touch"
  ConfigLabelToolForGesture4 "(es) Four-finger touch"
  ConfigLabelDarkMode "(es) Dark mode"
  ConfigLabelStylusMayBeInverted "(es) Stylus may be inverted"
  ConfigLabelPrimaryMouseButton "(es) Primary mouse button for drawing"
  ConfigLabelPenPanButton "(es) Button held on pen to pan screen"
  ConfigOptionButtonLeftMouse "(es) Left Mouse"
  ConfigOptionButtonRightMouse "(es) Right Mouse"
  ConfigOptionButtonMiddleMouse "(es) Middle Mouse"
  ConfigLabelStartMaximized "(es) Start PMB maximized"

  ConfigLabelBackgroundColor "(es) Background color"
}
